Config { 

   -- appearance
     font =         "xft:Mononoki:bold:size=12:antialias=true:hinting=true"
   , additionalFonts = [ "xft:FontAwesome:size=12" ]
   , bgColor =      "#282a36"   --dracula background
   , fgColor =      "#f8f8f2"   --dracula foreground
   , position =     Top
   , border =       BottomB
   , borderColor =  "#6272a4"   --dracula comment
   , iconRoot = ".config/xpm-status-icons/icons"

   -- layout
   , sepChar =  "%"   -- delineator between plugin names and straight text
   , alignSep = "}{"  -- separator between left-right alignment
   , template = " %battery% || %multicpu% || %multicoretemp% || %memory% || %dynnetwork% %wlan0wi% }{ %KBOI% || %default:Master% || %date% || %kbd% %trayerpad%"

   -- general behavior
   , lowerOnStart =     True    -- send to bottom of window stack on start
   , hideOnStart =      False   -- start with window unmapped (hidden)
   , allDesktops =      True    -- show on all desktops
   , overrideRedirect = True    -- set the Override Redirect flag (Xlib)
   , pickBroadest =     False   -- choose widest display (multi-monitor)
   , persistent =       True    -- enable/disable hiding (True = disabled)

   -- plugins
   --   Numbers can be automatically colored according to their value. xmobar
   --   decides color based on a three-tier/two-cutoff system, controlled by
   --   command options:
   --     --Low sets the low cutoff
   --     --High sets the high cutoff
   --
   --     --low sets the color below --Low cutoff
   --     --normal sets the color between --Low and --High cutoffs
   --     --High sets the color above --High cutoff
   --
   --   The --template option controls how the plugin is displayed. Text
   --   color can be set by enclosing in <fc></fc> tags. For more details
   --   see http://projects.haskell.org/xmobar/#system-monitor-plugins.
   , commands = 

        -- weather monitor
        -- Find station using this site: https://www.weather.gov/
        [ 
          Run WeatherX "KBOI" 
          [ ("clear"                   , "<icon=weather/weather_sunny.xpm/>")
          , ("mostly clear"            , "<icon=weather/weather_mostly_sunny.xpm/>")
          , ("sunny"                   , "<icon=weather/weather_sunny.xpm/>")
          , ("mostly sunny"            , "<icon=weather/weather_mostly_sunny.xpm/>")
          , ("partly sunny"            , "<icon=weather/weather_mostly_cloudy.xpm/>")
          , ("cloudy"                  , "<icon=weather/weather_cloudy.xpm/>")
          , ("mostly cloudy"           , "<icon=weather/weather_mostly_cloudy.xpm/>")
          , ("partly cloudy"           , "<icon=weather/weather_mostly_sunny.xpm/>")
          , ("fair"                    , "<icon=weather/weather_sunny.xpm/>")
          , ("overcast"                , "<icon=weather/weather_cloudy.xpm/>")
          , ("considerable cloudiness" , "<icon=weather/weather_cloudy.xpm/>")
          , ("obscured"                , "<icon=weather/weather_obscured.xpm/>")
          ]
          [ "--template", "<skyConditionS> <fc=#8be9fd><tempF></fc>°F, <fc=#8be9fd><rh></fc>%"
          ] 18000

        -- Dynamically size xmobar to work with trayer
        , Run Com "/home/geoffreymeier/bin/trayer-padding-icon.sh" [] "trayerpad" 10


        -- network activity monitor (dynamic interface resolution)
        , Run DynNetwork     [ "--template" , "<txipat><rxipat>"
                             , "--Low"      , "10000"   -- units: B/s
                             , "--High"     , "100000"  -- units: B/s
                             , "--low"      , "#50fa7b"
                             , "--normal"   , "#ffb86c"
                             , "--high"     , "#ff5555"
                             , "--maxtwidth" , "0"
                             , "--"
                                 , "--rx-icon-pattern" , "<icon=network/rx/network_rx_%%.xpm/>"
                                 , "--tx-icon-pattern" , "<icon=network/tx/network_tx_%%.xpm/>"
                             ] 10
        
        , Run Wireless       "wlan0" 
                             [ "--template", "<qualityipat> <essid>" 
                             , "--"
                                , "--quality-icon-pattern", "<icon=wireless/wireless_%%.xpm/>"
                             ] 10

        -- cpu activity monitor
        , Run MultiCpu       [ "--template" , "<ipat> <total>%"
                             , "--Low"      , "50"         -- units: %
                             , "--High"     , "85"         -- units: %
                             , "--low"      , "#50fa7b"
                             , "--normal"   , "#ffb86c"
                             , "--high"     , "#ff5555"
                             , "--"
                                , "--load-icon-pattern" , "<icon=cpu/cpu_%%.xpm/>"
                             ] 10

        -- cpu core temperature monitor
        , Run MultiCoreTemp  [ "--template" , "<maxipat> <max>°C"
                             , "--Low"      , "64"        -- units: °C
                             , "--High"     , "73"        -- units: °C
                             , "--low"      , "#50fa7b"
                             , "--normal"   , "#ffb86c"
                             , "--high"     , "#ff5555"
                             , "--"
                                , "--max-icon-pattern" , "<icon=temperature/temperature_%%.xpm/>"
                                , "--mintemp" , "20"
                                , "--maxtemp" , "100"
                             ] 50
                          
        -- memory usage monitor
        , Run Memory         [ "--template" ,"<usedipat> <usedratio>%"
                             , "--Low"      , "20"        -- units: %
                             , "--High"     , "90"        -- units: %
                             , "--low"      , "#50fa7b"
                             , "--normal"   , "#ffb86c"
                             , "--high"     , "#ff5555"
                             , "--"
                                , "--used-icon-pattern" , "<icon=ram/ram_%%.xpm/>"
                             ] 10

        -- battery monitor
        , Run BatteryP       ["BAT0"]
                             [ "--template" , "<leftipat> <acstatus>"
                             , "--Low"      , "15"        -- units: %
                             , "--High"     , "75"        -- units: %
                             , "--low"      , "#ff5555"
                             , "--normal"   , "#ffb86c"
                             , "--high"     , "#50fa7b"

                             , "--" -- battery specific options
                                    , "-L"   , "15"
                                    , "-H"   , "75"
                                    , "--on-icon-pattern"   , "<icon=battery/on/battery_on_%%.xpm/>"
                                    , "--off-icon-pattern"  , "<icon=battery/off/battery_off_%%.xpm/>"
                                    , "--idle-icon-pattern" , "<icon=battery/idle/battery_idle_%%.xpm/>"                                       
                                    -- low battery warning
                                    , "-A"   , "8"
                                    , "-a"   , "notify-send -u critical 'WARNING - LOW BATTERY!'"
                                    -- discharging statuses
                                    , "-o"	, "<left>% (<timeleft>)"
                                    -- AC "on" status
                                    , "-O"	, "<fc=#f1fa8c>Charging</fc>"
                                    -- charged status
                                    , "-i"	, "<fc=#50fa7b>Charged</fc>"
                             ] 50

        -- time and date indicator 
        --   (%F = y-m-d date, %a = day of week, %T = h:m:s time)
        , Run Date           "%F (%a) %T" "date" 10

        -- keyboard layout indicator
        , Run Kbd            [ ("us(dvorak)" , "<fc=#ffb86c>DV</fc>")
                             , ("us"         , "<fc=#ff5555>US</fc>")
                             , ("us(dvp)"    , "<fc=#ffb86c>DVP</fc>")
                             ]
        , Run Volume "default" "Master"   [ ] 5

        ]

   }
